<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Local Repuestos</title>
  </head>
  <body>
    <h5>Listado de Locales de Repuestos</h5>

    {% for e in personas %}

    <ol>
      <li><b>Propietario: </b>{{e['propietario']}}</li>
      <li><b>Dirección: </b>{{e['direccion']}}</li>
      <li><b>Barrio: </b>{{e['barrio']}}</li>
      <li><b>Valor Total de la Mercadería: </b>{{e['valor']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
